<template>
    <nav class="bg-dark-blue w-full xs:h-16 h-14">
        <ul class="w-full h-full flex items-center justify-end xs:px-10 px-5 xs:gap-6 gap-3 xs:text-xl text-md">
            <li class="nav-link">
                <router-link to="/" title="Home">Home</router-link>
            </li>
			<li class="nav-link">
                <router-link to="/explore" title="Explore">Explore</router-link>
            </li>
            <li class="nav-link mr-auto">
                <router-link :to="'/user/' + this.myPosts()" v-if="loggedIn" title="My posts">My posts</router-link>
            </li>
            <li class="nav-link xs:text-2xl text-lg">
                <router-link to="/login" title="Login" v-if="!loggedIn">Login</router-link>
                <button to="/logout" v-else @click.prevent="logOut()">Log Out</button>
            </li>
        </ul>
    </nav>
</template>

<script>
	

    export default {
        name: "NavBar",
        data(){
            return {
                loggedIn: false
            }
        },
        watch: {
            "$route": "checkLogin"
        },
        created(){
            this.checkLogin();
        },
        methods: {
            checkLogin(){
                const loggedIn = JSON.parse(window.localStorage.getItem("login")).loggedIn || false;

                if (loggedIn === true){
                    this.loggedIn = true
                }
            },
            logOut(){
                window.localStorage.setItem("login", JSON.stringify(false));
                this.$router.push("/login")
            },
            myPosts(){
                var username = JSON.parse(window.localStorage.getItem("login") ?? 'false').username || false;
				console.log(username);
				return username;
            }
        }
    }
</script>